.DS_Store
*.pro.user
*.o
*.plist
*.autosave
*.xlsx

CodeCreator/Settings.xml
CodeCreator/testOutput/*

ReservationsToExcel/Input/*
ReservationsToExcel/Output/*

TuKi-Basar/*.xml
TuKi-Basar/*.pdf
TuKi/ArticleList/Data/*
TuKi/ArticleList/.idea/workspace.xml

build-CodeCreator-Desktop_Qt_5_2_0_clang_64bit-Debug/*
build-TuKi-Basar-Qt_4_8_6-Debug/*
DesignPatterns/build-Singleton-Qt_4_8_6-Debug/*
DesignPatterns/build-Observer-Qt_4_8_6-Debug/*
build-ReservationsToExcel-Qt_4_8_6-Release/*
build-TuKi-Basar-Desktop_Qt_5_4_1_MinGW_32bit-Debug/*
build-TuKi-Basar-Desktop_Qt_5_4_1_MinGW_32bit-Release/*
build-Alive-Qt_4_8_6-Debug/*
build-CowsBullsUBE-Desktop_Qt_5_2_0_clang_64bit-Release/*
build-ImageViewer-Qt_4_8_6-Debug/*
build-ImageViewer-Qt_4_8_6-Release/*
build-JsonTest-Desktop_Qt_5_2_0_clang_64bit-Debug/*
build-SQLiteTest-Qt_4_8_6-Debug/*
build-FunctionPointerTest-Desktop_Qt_5_2_0_clang_64bit-Release/*
TuKi/TuKi-Basar/Data/*
build-ImageProcessing-Desktop_Qt_5_2_0_clang_64bit-Release/*
build/*
PrivateData/*
TuKi/build/*
TuKi/ArticleList/DataArchive/*

QtTestProgramms/build-DPointerTest-Desktop_Qt_5_2_0_clang_64bit-Release/*
*.ncb
*.suo
*.orig
