# file types
.DS_Store
*.user
*.o
*.plist
*.autosave
*.xlsx
*.ncb
*.suo
*.orig

# folders
build/*
QtTestProgramms/build/*
TuKi/build/*
test/*
CodeCreator/testOutput/*
ReservationsToExcel/Input/*
ReservationsToExcel/Output/*
TuKi/ArticleList/Data/*
TuKi/TuKi-Basar/Data/*
TuKi/ArticleList/DataArchive/*
PrivateData/*

# special files
CodeCreator/Settings.xml
TuKi-Basar/*.xml
TuKi-Basar/*.pdf
TuKi/ArticleList/.idea/workspace.xml
TuKi/ArticleList/PHP/notifySellers.php
