.DS_Store
*.pro.user
*.o
TuKi/ArticleList/.idea/workspace.xml
build-TuKi-Basar-Qt_4_8_6-Debug/*
*.autosave
TuKi/ArticleList/Data/mailAddresses.txt
TuKi/ArticleList/Data/mailAddressesBackup.txt
build-CodeCreator-Desktop_Qt_5_2_0_clang_64bit-Debug/*
CodeCreator/Settings.xml
CodeCreator/testOutput/*
DesignPatterns/build-Singleton-Qt_4_8_6-Debug/*
DesignPatterns/build-Observer-Qt_4_8_6-Debug/*

build-ReservationsToExcel-Qt_4_8_6-Release/*
ReservationsToExcel/Input/*
ReservationsToExcel/Output/*

TuKi-Basar/*.xml
TuKi-Basar/*.pdf
TuKi/ArticleList/Data/*
build-TuKi-Basar-Desktop_Qt_5_4_1_MinGW_32bit-Debug/*
build-TuKi-Basar-Desktop_Qt_5_4_1_MinGW_32bit-Release/*

TuKi-Basar/Articles_PC1.xml

TuKi-Basar/Articles_PC2.xml

TuKi-Basar/Articles_PC3.xml
